In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path = r"D:\DS_Final_Project\Notebook\data\RAW_CSV"

customer = pd.read_csv(f"{path}\\customer.csv")
cust_order = pd.read_csv(f"{path}\\cust_order.csv")
customer_address_id = pd.read_csv(f"{path}\\customer_address.csv")
customer_address_details = pd.read_csv(f"{path}\\address.csv")
address_status = pd.read_csv(f"{path}\\address_status.csv")
order_history = pd.read_csv(f"{path}\\order_history.csv")
order_line = pd.read_csv(f"{path}\\order_line.csv")
order_status = pd.read_csv(f"{path}\\order_status.csv")
shipping_method = pd.read_csv(f"{path}\\shipping_method.csv")
book = pd.read_csv(f"{path}\\book.csv")
book_author_id = pd.read_csv(f"{path}\\book_author.csv")
book_author_name = pd.read_csv(f"{path}\\author.csv")
book_language = pd.read_csv(f"{path}\\book_language.csv")
publisher = pd.read_csv(f"{path}\\publisher.csv")

In [52]:
tables = [
    ("customer", customer),
    ("cust_order", cust_order),
    ("customer_address_id",customer_address_id),
    ("customer_address_details",customer_address_details),
    ("address_status", address_status),
    ("order_history", order_history),
    ("order_line", order_line),
    ("order_status", order_status),
    ("shipping_method", shipping_method),
    ("book",book),
    ("book_author_id",book_author_id),
    ("book_author_name",book_author_name),
    ("book_language",book_language),
    ("publisher",publisher)]

for name,df in tables:
    print(f"{name} : {list(df.columns)}")
    print("-"*50)

customer : ['customer_id', 'first_name', 'last_name', 'email']
--------------------------------------------------
cust_order : ['order_id', 'order_date', 'customer_id', 'shipping_method_id', 'dest_address_id']
--------------------------------------------------
customer_address_id : ['customer_id', 'address_id', 'status_id']
--------------------------------------------------
customer_address_details : ['address_id', 'street_number', 'street_name', 'city', 'country_id']
--------------------------------------------------
address_status : ['status_id', 'address_status']
--------------------------------------------------
order_history : ['history_id', 'order_id', 'status_id', 'status_date']
--------------------------------------------------
order_line : ['line_id', 'order_id', 'book_id', 'price']
--------------------------------------------------
order_status : ['status_id', 'status_value']
--------------------------------------------------
shipping_method : ['method_id', 'method_name', 'cost']
--------------------------------------------------
book : ['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']
--------------------------------------------------
book_author_id : ['book_id', 'author_id']
--------------------------------------------------
book_author_name : ['author_id', 'author_name']
--------------------------------------------------
book_language : ['language_id', 'language_code', 'language_name']
--------------------------------------------------
publisher : ['publisher_id', 'publisher_name']
--------------------------------------------------

In [53]:
# checking dtypes 
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   first_name   2000 non-null   object
 2   last_name    2000 non-null   object
 3   email        2000 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.6+ KB

In [4]:
customer.isna().sum()

customer_id    0
first_name     0
last_name      0
email          0
dtype: int64

In [128]:
customer[customer.isnull().all(axis=1)]

Empty DataFrame
Columns: [customer_id, first_name, last_name, email]
Index: []

In [129]:
# Inspect each table
for table_name, df in zip(["customer", "cust_order", "customer_address_id", "customer_address_details", 
                           "address_status", "order_history", "order_line", "order_status", 
                           "shipping_method", "book", "book_author_id", "book_author_name", 
                           "book_language", "publisher"], 
                          [customer, cust_order, customer_address_id, customer_address_details, 
                           address_status, order_history, order_line, order_status, 
                           shipping_method, book, book_author_id, book_author_name, 
                           book_language, publisher]):
    print(f"Table: {table_name}")
    print(df.info())
    print(df.head(), "\n")
    print("-"*100)

Table: customer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   first_name   2000 non-null   object
 2   last_name    2000 non-null   object
 3   email        2000 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.6+ KB
None
   customer_id first_name last_name                   email
0            1     Ursola     Purdy      upurdy0@cdbaby.com
1            2   Ruthanne    Vatini       rvatini1@fema.gov
2            3     Reidar   Turbitt  rturbitt2@geocities.jp
3            4       Rich     Kirsz      rkirsz3@jalbum.net
4            5    Carline     Kupis        ckupis4@tamu.edu

----------------------------------------------------------------------------------------------------
Table: cust_order
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7550 entries, 0 to 7549
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            7550 non-null   int64
 1   order_date          7550 non-null   object
 2   customer_id         7550 non-null   int64
 3   shipping_method_id  7550 non-null   int64
 4   dest_address_id     7550 non-null   int64
dtypes: int64(4), object(1)
memory usage: 295.1+ KB
None
   order_id           order_date  customer_id  shipping_method_id  \
0         1  2023-08-22 16:12:12          413                   2
1         2  2023-07-25 03:52:27         1338                   1
2         3  2022-05-26 14:15:06         1464                   3
3         4  2022-01-01 10:23:19          269                   2
4         5  2024-11-29 11:35:26         1463                   4

   dest_address_id
0                1
1                1
2                2
3                3
4                3

----------------------------------------------------------------------------------------------------
Table: customer_address_id
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3350 entries, 0 to 3349
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  3350 non-null   int64
 1   address_id   3350 non-null   int64
 2   status_id    3350 non-null   int64
dtypes: int64(3)
memory usage: 78.6 KB
None
   customer_id  address_id  status_id
0            1         359          1
1            1         962          1
2            2          77          1
3            2         708          1
4            3          39          1

----------------------------------------------------------------------------------------------------
Table: customer_address_details
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address_id     1000 non-null   int64
 1   street_number  1000 non-null   int64
 2   street_name    1000 non-null   object
 3   city           1000 non-null   object
 4   country_id     1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB
None
   address_id  street_number          street_name          city  country_id
0           1             57  Glacier Hill Avenue  Torbat-e Jām          95
1           2             86      Dottie Junction      Beaumont          37
2           3            292        Ramsey Avenue       Cayambe          60
3           4           5618   Thackeray Junction        Caldas          47
4           5              4             2nd Park      Ngunguru         153

----------------------------------------------------------------------------------------------------
Table: address_status
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_id       2 non-null      int64
 1   address_status  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes
None
   status_id address_status
0          1         Active
1          2       Inactive

----------------------------------------------------------------------------------------------------
Table: order_history
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22349 entries, 0 to 22348
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   history_id   22349 non-null  int64
 1   order_id     22349 non-null  int64
 2   status_id    22349 non-null  int64
 3   status_date  22349 non-null  object
dtypes: int64(3), object(1)
memory usage: 698.5+ KB
None
   history_id  order_id  status_id          status_date
0           1         1          1  2023-08-22 22:29:27
1           2         2          1  2023-07-25 10:19:17
2           3         3          1  2022-05-26 15:37:33
3           4         4          1  2022-01-01 21:55:05
4           5         5          1  2024-11-29 17:06:53

----------------------------------------------------------------------------------------------------
Table: order_line
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15400 entries, 0 to 15399
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   line_id   15400 non-null  int64
 1   order_id  15400 non-null  int64
 2   book_id   15400 non-null  int64
 3   price     15400 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 481.4 KB
None
   line_id  order_id  book_id  price
0        1      1213     6476  13.42
1        2      5308     6784   0.70
2        3       240     3857  12.55
3        4      2333     1091  12.14
4        5      4335     8258  17.79

----------------------------------------------------------------------------------------------------
Table: order_status
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_id     6 non-null      int64
 1   status_value  6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes
None
   status_id          status_value
0          1        Order Received
1          2      Pending Delivery
2          3  Delivery In Progress
3          4             Delivered
4          5             Cancelled

----------------------------------------------------------------------------------------------------
Table: shipping_method
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   method_id    4 non-null      int64
 1   method_name  4 non-null      object
 2   cost         4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 228.0+ bytes
None
   method_id    method_name  cost
0          1       Standard   5.9
1          2       Priority   8.9
2          3        Express  11.9
3          4  International  24.5

----------------------------------------------------------------------------------------------------
Table: book
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           11127 non-null  int64
 1   title             11127 non-null  object
 2   isbn13            11127 non-null  int64
 3   language_id       11127 non-null  int64
 4   num_pages         11127 non-null  int64
 5   publication_date  11127 non-null  object
 6   publisher_id      11127 non-null  int64
dtypes: int64(5), object(2)
memory usage: 608.6+ KB
None
   book_id                                              title       isbn13  \
0        1        The World's First Love: Mary  Mother of God   8987059752
1        2                                     The Illuminati  20049130001
2        3                                 The Servant Leader  23755004321
3        4  What Life Was Like in the Jewel in the Crown: ...  34406054602
4        5  Cliffs Notes on Aristophanes' Lysistrata  The ...  49086007763

   language_id  num_pages publication_date  publisher_id
0            2        276       1996-09-01          1010
1            1        352       2004-10-04          1967
2            1        128       2003-03-11          1967
3            1        168       1999-09-01          1978
4            1         80       1983-12-29           416

----------------------------------------------------------------------------------------------------
Table: book_author_id
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17642 entries, 0 to 17641
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   book_id    17642 non-null  int64
 1   author_id  17642 non-null  int64
dtypes: int64(2)
memory usage: 275.8 KB
None
   book_id  author_id
0    10539          1
1     8109          2
2     2792          3
3     6228          4
4     1058          5

----------------------------------------------------------------------------------------------------
Table: book_author_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9235 entries, 0 to 9234
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_id    9235 non-null   int64
 1   author_name  9235 non-null   object
dtypes: int64(1), object(1)
memory usage: 144.4+ KB
None
   author_id           author_name
0          1  A. Bartlett Giamatti
1          2   A. Elizabeth Delany
2          3            A. Merritt
3          4      A. Roger Merrill
4          5        A. Walton Litz

----------------------------------------------------------------------------------------------------
Table: book_language
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   language_id    27 non-null     int64
 1   language_code  27 non-null     object
 2   language_name  27 non-null     object
dtypes: int64(1), object(2)
memory usage: 780.0+ bytes
None
   language_id language_code          language_name
0            1           eng                English
1            2         en-US  United States English
2            3           fre                 French
3            4           spa                Spanish
4            5         en-GB        British English

----------------------------------------------------------------------------------------------------
Table: publisher
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher_id    2264 non-null   int64
 1   publisher_name  2264 non-null   object
dtypes: int64(1), object(1)
memory usage: 35.5+ KB
None
   publisher_id                 publisher_name
0             1                          10/18
1             2               1st Book Library
2             3              1st World Library
3             4  A & C Black (Childrens books)
4             5   A Harvest Book/Harcourt Inc.

----------------------------------------------------------------------------------------------------

**Observation**:

1. In cust_order order date seems to be object we need to convert that into datetime formate.
2. In customer_address_details street name and city seems to be object type we need to check for that.
3. In address_status - address status column seems to be categorical column type.
4. In order_history - status date seems to object. convert to datetime formate.
5. In order status - status value column seems to categorical column type.
6. In shipping_method - method_name column seems to be categorical.
7. In boob - title and publication_date column seems to object type we need formate it.
8. In book_author_name - author_name seems to be object type we need to verify whether it is cat column or not.
9. book_language - language_code & language_name seems to be object. Check whether it is a cat column or not.
10. publisher - publisher_name seems to be object type. check for the column type.

In [130]:
# Check for missing values in all datasets

for table_name, df in zip(["customer", "cust_order", "customer_address_id", "customer_address_details", 
                           "address_status", "order_history", "order_line", "order_status", 
                           "shipping_method", "book", "book_author_id", "book_author_name", 
                           "book_language", "publisher"], 
                          [customer, cust_order, customer_address_id, customer_address_details, 
                           address_status, order_history, order_line, order_status, 
                           shipping_method, book, book_author_id, book_author_name, 
                           book_language, publisher]):
    print(f"Table: {table_name}")
    print(df.isnull().sum(), "\n")
    print("-"*50)

Table: customer
customer_id    0
first_name     0
last_name      0
email          0
dtype: int64

--------------------------------------------------
Table: cust_order
order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
dtype: int64

--------------------------------------------------
Table: customer_address_id
customer_id    0
address_id     0
status_id      0
dtype: int64

--------------------------------------------------
Table: customer_address_details
address_id       0
street_number    0
street_name      0
city             0
country_id       0
dtype: int64

--------------------------------------------------
Table: address_status
status_id         0
address_status    0
dtype: int64

--------------------------------------------------
Table: order_history
history_id     0
order_id       0
status_id      0
status_date    0
dtype: int64

--------------------------------------------------
Table: order_line
line_id     0
order_id    0
book_id     0
price       0
dtype: int64

--------------------------------------------------
Table: order_status
status_id       0
status_value    0
dtype: int64

--------------------------------------------------
Table: shipping_method
method_id      0
method_name    0
cost           0
dtype: int64

--------------------------------------------------
Table: book
book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
dtype: int64

--------------------------------------------------
Table: book_author_id
book_id      0
author_id    0
dtype: int64

--------------------------------------------------
Table: book_author_name
author_id      0
author_name    0
dtype: int64

--------------------------------------------------
Table: book_language
language_id      0
language_code    0
language_name    0
dtype: int64

--------------------------------------------------
Table: publisher
publisher_id      0
publisher_name    0
dtype: int64

--------------------------------------------------

**Observation:**
1. No missing values seen on any tables.

In [131]:
# Drop duplicates in all datasets
for table_name, df in zip(["customer", "cust_order", "customer_address_id", "customer_address_details", 
                           "address_status", "order_history", "order_line", "order_status", 
                           "shipping_method", "book", "book_author_id", "book_author_name", 
                           "book_language", "publisher"], 
                          [customer, cust_order, customer_address_id, customer_address_details, 
                           address_status, order_history, order_line, order_status, 
                           shipping_method, book, book_author_id, book_author_name, 
                           book_language, publisher]):
    duplicates = df.duplicated().sum()
    print(f"Table: {table_name} | Duplicates: {duplicates}")
    if duplicates > 0:
       df.drop_duplicates(inplace=True)

Table: customer | Duplicates: 0
Table: cust_order | Duplicates: 0
Table: customer_address_id | Duplicates: 0
Table: customer_address_details | Duplicates: 0
Table: address_status | Duplicates: 0
Table: order_history | Duplicates: 0
Table: order_line | Duplicates: 0
Table: order_status | Duplicates: 0
Table: shipping_method | Duplicates: 0
Table: book | Duplicates: 0
Table: book_author_id | Duplicates: 0
Table: book_author_name | Duplicates: 0
Table: book_language | Duplicates: 0
Table: publisher | Duplicates: 0

**Observation:
**1. No duplicates has been seen on any tables.

In [132]:
# Check for the column names are same before merging

def standardize_column_name(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ","_")
    return df
    
# Apply to all datasets
customer = standardize_column_name(customer)
cust_order = standardize_column_name(cust_order)
customer_address_id = standardize_column_name(customer_address_id)
customer_address_details = standardize_column_name(customer_address_details)
address_status = standardize_column_name(address_status)
order_history = standardize_column_name(order_history)
order_line = standardize_column_name(order_line)
order_status = standardize_column_name(order_status)
shipping_method = standardize_column_name(shipping_method)
book = standardize_column_name(book)
book_author_id = standardize_column_name(book_author_id)
book_author_name = standardize_column_name(book_author_name)
book_language = standardize_column_name(book_language)
publisher = standardize_column_name(publisher)

In [133]:
# Dictionary to map table names to their DataFrames
tables = {
    "customer": customer,
    "cust_order": cust_order,
    "customer_address_id": customer_address_id,
    "customer_address_details": customer_address_details,
    "address_status": address_status,
    "order_history": order_history,
    "order_line": order_line,
    "order_status": order_status,
    "shipping_method": shipping_method,
    "book": book,
    "book_author_id": book_author_id,
    "book_author_name": book_author_name,
    "book_language": book_language,
    "publisher": publisher,
}

# Dictionary to map table names to their primary keys
primary_keys = {
    "customer": "customer_id",
    "cust_order": "order_id",
    "customer_address_id": "address_id",
    "customer_address_details": "address_id",
    "address_status": "status_id",
    "order_history": "history_id",
    "order_line": "line_id",
    "order_status": "status_id",
    "shipping_method": "method_id",
    "book": "book_id",
    "book_author_id": "author_id",
    "book_author_name": "author_id",
    "book_language": "language_id",
    "publisher": "publisher_id",
}

# Loop through tables and check uniqueness of primary keys
for table_name, df in tables.items():
    # Get the primary key for the current table
    key = primary_keys.get(table_name)
    if key:
        # Check if the primary key column is unique
        unique = df[key].is_unique
        print(f"Table: {table_name} | Primary Key: {key} | Is Unique: {unique}")
    else:
        print(f"Table: {table_name} has no primary key defined.")

Table: customer | Primary Key: customer_id | Is Unique: True
Table: cust_order | Primary Key: order_id | Is Unique: True
Table: customer_address_id | Primary Key: address_id | Is Unique: False
Table: customer_address_details | Primary Key: address_id | Is Unique: True
Table: address_status | Primary Key: status_id | Is Unique: True
Table: order_history | Primary Key: history_id | Is Unique: True
Table: order_line | Primary Key: line_id | Is Unique: True
Table: order_status | Primary Key: status_id | Is Unique: True
Table: shipping_method | Primary Key: method_id | Is Unique: True
Table: book | Primary Key: book_id | Is Unique: True
Table: book_author_id | Primary Key: author_id | Is Unique: False
Table: book_author_name | Primary Key: author_id | Is Unique: True
Table: book_language | Primary Key: language_id | Is Unique: True
Table: publisher | Primary Key: publisher_id | Is Unique: True

In [134]:
# Checking the dtype " o " column in the tables:
obj_column = {}

for table_name, df in zip(["customer", "cust_order", "customer_address_id", "customer_address_details", 
                           "address_status", "order_history", "order_line", "order_status", 
                           "shipping_method", "book", "book_author_id", "book_author_name", 
                           "book_language", "publisher"], 
                          [customer, cust_order, customer_address_id, customer_address_details, 
                           address_status, order_history, order_line, order_status, 
                           shipping_method, book, book_author_id, book_author_name, 
                           book_language, publisher]):
    
    obj_column[table_name] = []
    columns = list(df.columns)
    
    for col_name in columns:
        if df[col_name].dtype == "O":
            obj_column[table_name].append(col_name)
import pprint
pprint.pprint(obj_column)

{'address_status': ['address_status'],
 'book': ['title', 'publication_date'],
 'book_author_id': [],
 'book_author_name': ['author_name'],
 'book_language': ['language_code', 'language_name'],
 'cust_order': ['order_date'],
 'customer': ['first_name', 'last_name', 'email'],
 'customer_address_details': ['street_name', 'city'],
 'customer_address_id': [],
 'order_history': ['status_date'],
 'order_line': [],
 'order_status': ['status_value'],
 'publisher': ['publisher_name'],
 'shipping_method': ['method_name']}

In [135]:
# 1st lets format the date column in cust_order tables.

cust_order['order_date'] = pd.to_datetime(cust_order['order_date'])
cust_order['order_day'] = cust_order.order_date.dt.day
cust_order['order_month'] = cust_order.order_date.dt.month
cust_order['order_year'] = cust_order.order_date.dt.year
cust_order['order_month_name'] = cust_order.order_date.dt.month_name()

cust_order.dtypes

order_id                       int64
order_date            datetime64[ns]
customer_id                    int64
shipping_method_id             int64
dest_address_id                int64
order_day                      int32
order_month                    int32
order_year                     int32
order_month_name              object
dtype: object

In [136]:
# Formatting the order history tables date column

order_history['status_date'] = pd.to_datetime(order_history['status_date'])
order_history['hist_status_day'] = order_history['status_date'].dt.day
order_history['hist_status_month'] = order_history['status_date'].dt.month
order_history['hist_status_year'] = order_history['status_date'].dt.year

order_history.dtypes

history_id                    int64
order_id                      int64
status_id                     int64
status_date          datetime64[ns]
hist_status_day               int32
hist_status_month             int32
hist_status_year              int32
dtype: object

In [137]:
# Formatting boo table publish date

book['publication_date'] = pd.to_datetime(book['publication_date'])
book['publish_day'] = book['publication_date'].dt.day
book['publish_month'] = book['publication_date'].dt.month
book['publish_year'] = book['publication_date'].dt.year
book.sample(5).dtypes

book_id                      int64
title                       object
isbn13                       int64
language_id                  int64
num_pages                    int64
publication_date    datetime64[ns]
publisher_id                 int64
publish_day                  int32
publish_month                int32
publish_year                 int32
dtype: object

In [138]:
# Converting to price column to numberic

order_line['price'] = pd.to_numeric(order_line['price'], errors='coerce')

In [139]:
# Removing trailing space in object data type.

# Checking the dtype " o " column in the tables:
obj_column = {}

for table_name, df in zip(["customer", "cust_order", "customer_address_id", "customer_address_details", 
                           "address_status", "order_history", "order_line", "order_status", 
                           "shipping_method", "book", "book_author_id", "book_author_name", 
                           "book_language", "publisher"], 
                          [customer, cust_order, customer_address_id, customer_address_details, 
                           address_status, order_history, order_line, order_status, 
                           shipping_method, book, book_author_id, book_author_name, 
                           book_language, publisher]):
    
    obj_column[table_name] = []
    columns = list(df.columns)
    
    for col_name in columns:
        if df[col_name].dtype == "O":
            obj_column[table_name].append(col_name)
import pprint
#pprint.pprint(obj_column)

# Function to strip the space and lower the letter cases.

def remove_trailing_space(df):
    return df.str.strip().str.lower()

for table_name,col_name in obj_column.items():
    df = eval(table_name)
    for col in df:
        df[col_name] = df[col_name].apply(remove_trailing_space)

In [140]:
# Check sizes
print("Customer size:", customer.shape)
print("customer address id size:", customer_address_id.shape)
print("customer details size:", customer_address_details.shape)
print("address status size:", address_status.shape)

Customer size: (2000, 4)
customer address id size: (3350, 3)
customer details size: (1000, 5)
address status size: (2, 2)

In [68]:
print(customer.columns)
print(customer_address_id.columns)
print(customer_address_details.columns)
print(address_status.columns)

Index(['customer_id', 'first_name', 'last_name', 'email'], dtype='object')
Index(['customer_id', 'address_id', 'status_id'], dtype='object')
Index(['address_id', 'street_number', 'street_name', 'city', 'country_id'], dtype='object')
Index(['status_id', 'address_status'], dtype='object')

In [141]:
customer_address_id.rename(columns={"status_id" : 'address_status_id'},inplace=True)
address_status.rename(columns={'status_id' : 'address_status_id'},inplace=True)

In [142]:
# MErging customer with customer address ID table

customer_data = pd.merge(customer,customer_address_id, how='left',on='customer_id')
customer_data = pd.merge(customer_data,customer_address_details,how='left',on='address_id')
customer_data = pd.merge(customer_data,address_status,how='left',on='address_status_id')
customer_data

,customer_id,first_name,last_name,email,address_id,address_status_id,street_number,street_name,city,country_id,address_status
0,1,ursola,purdy,upurdy0@cdbaby.com,359,1,9923,merrick center,kiuruvesi,69,active
1,1,ursola,purdy,upurdy0@cdbaby.com,962,1,6,school road,timrå,194,active
2,2,ruthanne,vatini,rvatini1@fema.gov,77,1,41492,bartillon circle,klau,92,active
3,2,ruthanne,vatini,rvatini1@fema.gov,708,1,7,thompson point,ylämaa,69,active
4,3,reidar,turbitt,rturbitt2@geocities.jp,39,1,7,bellgrove hill,sumberejo,92,active
...,...,...,...,...,...,...,...,...,...,...,...
3345,1998,georgeanna,garman,ggarmanrp@surveymonkey.com,454,1,725,debs court,radostowice,163,active
3346,1999,ardeen,caret,acaretrq@wsj.com,636,1,733,dovetail place,suchań,163,active
3347,2000,delora,bigglestone,dbigglestonerr@usatoday.com,99,1,53851,meadow valley drive,zvezdara,186,active
3348,2000,delora,bigglestone,dbigglestonerr@usatoday.com,521,1,74655,crownhardt road,al qarmadah,207,active
3349,2000,delora,bigglestone,dbigglestonerr@usatoday.com,693,1,7735,claremont point,comrat,129,active

In [143]:
print(f"Shape of merged customer data : {customer_data.shape}")

Shape of merged customer data : (3350, 11)

In [72]:
customer_data.isnull().sum()

customer_id          0
first_name           0
last_name            0
email                0
address_id           0
address_status_id    0
street_number        0
street_name          0
city                 0
country_id           0
address_status       0
dtype: int64

In [73]:
customer_data.dtypes

customer_id           int64
first_name           object
last_name            object
email                object
address_id            int64
address_status_id     int64
street_number         int64
street_name          object
city                 object
country_id            int64
address_status       object
dtype: object

In [144]:
#Cheking the shape of order related tables :

print(f"shape of cust_order : {cust_order.shape}")
print(f"shape of shipping_method : {shipping_method.shape}")
print(f"shape of order_history : {order_history.shape}")
print(f"shape of order_status : {order_status.shape}")
print(f"shape of order_line : {order_line.shape}")

shape of cust_order : (7550, 9)
shape of shipping_method : (4, 3)
shape of order_history : (22349, 7)
shape of order_status : (6, 2)
shape of order_line : (15400, 4)

In [145]:
# Renaming the column of came data which has different column names

shipping_method.rename(columns={'method_id' : 'shipping_method_id'},inplace=True)

print(shipping_method.columns)

Index(['shipping_method_id', 'method_name', 'cost'], dtype='object')

In [76]:
shipping_method.dtypes

shipping_method_id      int64
method_name            object
cost                  float64
dtype: object

In [77]:
cust_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7550 entries, 0 to 7549
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            7550 non-null   int64
 1   order_date          7550 non-null   datetime64[ns]
 2   customer_id         7550 non-null   int64
 3   shipping_method_id  7550 non-null   int64
 4   dest_address_id     7550 non-null   int64
 5   order_day           7550 non-null   int32
 6   order_month         7550 non-null   int32
 7   order_year          7550 non-null   int32
 8   order_month_name    7550 non-null   object
dtypes: datetime64[ns](1), int32(3), int64(4), object(1)
memory usage: 442.5+ KB

In [37]:
cust_order.shape

(7550, 9)

In [38]:
shipping_method.shape

(4, 3)

In [146]:
# Merging order related data into single table:

order_data = pd.merge(cust_order,shipping_method,how='left',on='shipping_method_id')
order_data['cost'] = pd.to_numeric(order_data['cost'], errors='coerce')

order_data.dtypes

order_id                       int64
order_date            datetime64[ns]
customer_id                    int64
shipping_method_id             int64
dest_address_id                int64
order_day                      int32
order_month                    int32
order_year                     int32
order_month_name              object
method_name                   object
cost                         float64
dtype: object

In [147]:
#cheking shape after merging:
order_data.shape

(7550, 11)

In [148]:
#checking shape before merging:
print(order_history.columns,order_history.shape,sep='\n')

Index(['history_id', 'order_id', 'status_id', 'status_date', 'hist_status_day',
       'hist_status_month', 'hist_status_year'],
      dtype='object')
(22349, 7)

In [149]:
order_data = pd.merge(order_data,order_history,how='left',on='order_id')
order_data.dtypes

order_id                       int64
order_date            datetime64[ns]
customer_id                    int64
shipping_method_id             int64
dest_address_id                int64
order_day                      int32
order_month                    int32
order_year                     int32
order_month_name              object
method_name                   object
cost                         float64
history_id                   float64
status_id                    float64
status_date           datetime64[ns]
hist_status_day              float64
hist_status_month            float64
hist_status_year             float64
dtype: object

In [150]:
#checking shape after merging:
print(f"Shape after merging : {order_data.shape}")

Shape after merging : (22350, 17)

In [151]:
order_data.isnull().sum()

order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
order_day             0
order_month           0
order_year            0
order_month_name      0
method_name           0
cost                  0
history_id            1
status_id             1
status_date           1
hist_status_day       1
hist_status_month     1
hist_status_year      1
dtype: int64

In [152]:
order_data[order_data.isnull().any(axis=1)]

,order_id,order_date,customer_id,shipping_method_id,dest_address_id,order_day,order_month,order_year,order_month_name,method_name,cost,history_id,status_id,status_date,hist_status_day,hist_status_month,hist_status_year
3338,1120,2024-12-11 02:42:36,729,1,327,11,12,2024,december,standard,5.9,NaN,NaN,NaT,NaN,NaN,NaN

In [156]:
# Converting dtypes to int for int columns:

order_data['history_id'] = order_data['history_id'].fillna(0).astype(int)
order_data['status_id'] = order_data['status_id'].fillna(0).astype(int)
order_data['hist_status_day'] = order_data['hist_status_day'].fillna(0).astype(int)
order_data['hist_status_month'] = order_data['hist_status_month'].fillna(0).astype(int)
order_data['hist_status_year'] = order_data['hist_status_year'].fillna(0).astype(int)
order_data.dtypes

order_id                       int64
order_date            datetime64[ns]
customer_id                    int64
shipping_method_id             int64
dest_address_id                int64
order_day                      int32
order_month                    int32
order_year                     int32
order_month_name              object
method_name                   object
cost                         float64
history_id                     int64
status_id                      int64
status_date           datetime64[ns]
hist_status_day                int64
hist_status_month              int64
hist_status_year               int64
dtype: object

In [175]:
order_data_1 = order_data.copy()

In [176]:
order_status.columns

Index(['order_status_id', 'status_value'], dtype='object')

In [178]:
order_data_1.columns

Index(['order_id', 'order_date', 'customer_id', 'shipping_method_id',
       'dest_address_id', 'order_day', 'order_month', 'order_year',
       'order_month_name', 'method_name', 'cost', 'history_id', 'status_id',
       'status_date', 'hist_status_day', 'hist_status_month',
       'hist_status_year'],
      dtype='object')

In [179]:
order_status.rename(columns={'status_id' : 'order_status_id'},inplace=True)

In [180]:
order_status['order_status_id'].unique()

array([1, 2, 3, 4, 5, 6])

In [181]:
order_data_1['status_id'].unique()

array([1, 2, 3, 4, 5, 6, 0])

In [182]:
order_status.shape,order_data_1.shape

((6, 2), (22350, 17))

In [183]:
if order_data_1['status_id'].equals(order_status['order_status_id']):
    print("Both columns are identical in content and order.")
else:
    print("The columns are not identical in content or order.")

The columns are not identical in content or order.

This is because we have filled the missing values with 0 so both the column unique values are not the same. SO merging will not happen properly.

In [184]:
# Remove the extra value from order_data
order_data_2 = order_data_1[order_data_1['status_id'] != 0].copy()

# Re-check for equality
if order_data_2['status_id'].isin(order_status['order_status_id']).all():
    print("The columns now match for valid values.")
else:
    print("Some valid values still do not match.")

The columns now match for valid values.

In [185]:
# Check for mismatched or extra values
extra_in_order_data = set(order_data_2['status_id']) - set(order_status['order_status_id'])
extra_in_order_status = set(order_status['order_status_id']) - set(orders_data_2['status_id'])

print(f"Extra values in order_data['status_id']: {extra_in_order_data}")
print(f"Extra values in order_status['order_status_id']: {extra_in_order_status}")

Extra values in order_data['status_id']: set()
Extra values in order_status['order_status_id']: set()

In [186]:
order_data_2['status_id'].unique()

array([1, 2, 3, 4, 5, 6])

In [188]:
# Filter order_data to keep only matching status_id values
order_data_3 = order_data_2[order_data_2['status_id'].isin(order_status['order_status_id'])]
order_data_3.shape

(22349, 17)

In [189]:
order_data_4 = pd.merge(order_data_3, order_status, left_on='status_id',right_on='order_status_id', how='left')
order_data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22349 entries, 0 to 22348
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            22349 non-null  int64
 1   order_date          22349 non-null  datetime64[ns]
 2   customer_id         22349 non-null  int64
 3   shipping_method_id  22349 non-null  int64
 4   dest_address_id     22349 non-null  int64
 5   order_day           22349 non-null  int32
 6   order_month         22349 non-null  int32
 7   order_year          22349 non-null  int32
 8   order_month_name    22349 non-null  object
 9   method_name         22349 non-null  object
 10  cost                22349 non-null  float64
 11  history_id          22349 non-null  int64
 12  status_id           22349 non-null  int64
 13  status_date         22349 non-null  datetime64[ns]
 14  hist_status_day     22349 non-null  int64
 15  hist_status_month   22349 non-null  int64
 16  hist_status_year    22349 non-null  int64
 17  order_status_id     22349 non-null  int64
 18  status_value        22349 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(3), int64(10), object(3)
memory usage: 3.0+ MB

In [192]:
# checking shape

order_data_4.shape,order_line.shape

((22349, 19), (15400, 4))

In [193]:
order_line.columns

Index(['line_id', 'order_id', 'book_id', 'price'], dtype='object')

In [196]:
# Checking for null values before merging:

order_data_4.isnull().sum()

order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
order_day             0
order_month           0
order_year            0
order_month_name      0
method_name           0
cost                  0
history_id            0
status_id             0
status_date           0
hist_status_day       0
hist_status_month     0
hist_status_year      0
order_status_id       0
status_value          0
dtype: int64

In [195]:
# checking for null before merging:

order_line['order_id'].isnull().sum()

np.int64(0)

In [197]:
order_data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22349 entries, 0 to 22348
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            22349 non-null  int64
 1   order_date          22349 non-null  datetime64[ns]
 2   customer_id         22349 non-null  int64
 3   shipping_method_id  22349 non-null  int64
 4   dest_address_id     22349 non-null  int64
 5   order_day           22349 non-null  int32
 6   order_month         22349 non-null  int32
 7   order_year          22349 non-null  int32
 8   order_month_name    22349 non-null  object
 9   method_name         22349 non-null  object
 10  cost                22349 non-null  float64
 11  history_id          22349 non-null  int64
 12  status_id           22349 non-null  int64
 13  status_date         22349 non-null  datetime64[ns]
 14  hist_status_day     22349 non-null  int64
 15  hist_status_month   22349 non-null  int64
 16  hist_status_year    22349 non-null  int64
 17  order_status_id     22349 non-null  int64
 18  status_value        22349 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(3), int64(10), object(3)
memory usage: 3.0+ MB

In [201]:
# Merging the order order 4 with order line:

order_data_5 = pd.merge(order_data_4, order_line, on='order_id', how='left')

order_data_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45615 entries, 0 to 45614
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            45615 non-null  int64
 1   order_date          45615 non-null  datetime64[ns]
 2   customer_id         45615 non-null  int64
 3   shipping_method_id  45615 non-null  int64
 4   dest_address_id     45615 non-null  int64
 5   order_day           45615 non-null  int32
 6   order_month         45615 non-null  int32
 7   order_year          45615 non-null  int32
 8   order_month_name    45615 non-null  object
 9   method_name         45615 non-null  object
 10  cost                45615 non-null  float64
 11  history_id          45615 non-null  int64
 12  status_id           45615 non-null  int64
 13  status_date         45615 non-null  datetime64[ns]
 14  hist_status_day     45615 non-null  int64
 15  hist_status_month   45615 non-null  int64
 16  hist_status_year    45615 non-null  int64
 17  order_status_id     45615 non-null  int64
 18  status_value        45615 non-null  object
 19  line_id             45615 non-null  int64
 20  book_id             45615 non-null  int64
 21  price               45615 non-null  float64
dtypes: datetime64[ns](2), float64(2), int32(3), int64(12), object(3)
memory usage: 7.1+ MB

In [213]:
# checking shape after merging:

print(f"Shape of order_data_5 table : {order_data_5.shape}")

Shape of order_data_5 table : (45615, 22)

In [ ]:
#print(f"Shape of Order_status table : {order_status.shape}\nShape of order_data_5 table : {order_data_5.shape}")

In [239]:
# defining function to check null, shape and info:
def basic_check(df,name):
    print("-"*50)
    print(f"Shape for {name} : {df.shape}")
    print("-"*50)
    print(f"Column name for {name} : {df.columns}")
    print("-"*50)

In [237]:
# Checking for shape and columns

basic_check(order_data_5,"order_data_5")

--------------------------------------------------
Shape for order_data_5 : (45615, 22)
--------------------------------------------------
Column name for order_data_5 : Index(['order_id', 'order_date', 'customer_id', 'shipping_method_id',
       'dest_address_id', 'order_day', 'order_month', 'order_year',
       'order_month_name', 'method_name', 'cost', 'history_id', 'status_id',
       'status_date', 'hist_status_day', 'hist_status_month',
       'hist_status_year', 'order_status_id', 'status_value', 'line_id',
       'book_id', 'price'],
      dtype='object')
--------------------------------------------------
unique of order_data_5 : order_id               7549
order_date             7547
customer_id            1701
shipping_method_id        4
dest_address_id         726
order_day                31
order_month              12
order_year                4
order_month_name         12
method_name               4
cost                      4
history_id            22349
status_id                 6
status_date           22347
hist_status_day          31
hist_status_month        12
hist_status_year          4
order_status_id           6
status_value              6
line_id               15399
book_id                8402
price                  2000
dtype: int64

In [232]:
order_data_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45615 entries, 0 to 45614
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            45615 non-null  int64
 1   order_date          45615 non-null  datetime64[ns]
 2   customer_id         45615 non-null  int64
 3   shipping_method_id  45615 non-null  int64
 4   dest_address_id     45615 non-null  int64
 5   order_day           45615 non-null  int32
 6   order_month         45615 non-null  int32
 7   order_year          45615 non-null  int32
 8   order_month_name    45615 non-null  object
 9   method_name         45615 non-null  object
 10  cost                45615 non-null  float64
 11  history_id          45615 non-null  int64
 12  status_id           45615 non-null  int64
 13  status_date         45615 non-null  datetime64[ns]
 14  hist_status_day     45615 non-null  int64
 15  hist_status_month   45615 non-null  int64
 16  hist_status_year    45615 non-null  int64
 17  order_status_id     45615 non-null  int64
 18  status_value        45615 non-null  object
 19  line_id             45615 non-null  int64
 20  book_id             45615 non-null  int64
 21  price               45615 non-null  float64
dtypes: datetime64[ns](2), float64(2), int32(3), int64(12), object(3)
memory usage: 7.1+ MB

In [233]:
# checking for null values after merging:

order_data_5.isnull().sum()

order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
order_day             0
order_month           0
order_year            0
order_month_name      0
method_name           0
cost                  0
history_id            0
status_id             0
status_date           0
hist_status_day       0
hist_status_month     0
hist_status_year      0
order_status_id       0
status_value          0
line_id               0
book_id               0
price                 0
dtype: int64

customer : ['customer_id', 'first_name', 'last_name', 'email']
--------------------------------------------------
cust_order : ['order_id', 'order_date', 'customer_id', 'shipping_method_id', 'dest_address_id']
--------------------------------------------------
customer_address_id : ['customer_id', 'address_id', 'status_id']
--------------------------------------------------
customer_address_details : ['address_id', 'street_number', 'street_name', 'city', 'country_id']
--------------------------------------------------
address_status : ['status_id', 'address_status']
--------------------------------------------------
order_history : ['history_id', 'order_id', 'status_id', 'status_date']
--------------------------------------------------
order_line : ['line_id', 'order_id', 'book_id', 'price']
--------------------------------------------------
order_status : ['status_id', 'status_value']
--------------------------------------------------
shipping_method : ['method_id', 'method_name', 'cost']
--------------------------------------------------
book : ['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']
--------------------------------------------------
book_author_id : ['book_id', 'author_id']
--------------------------------------------------
book_author_name : ['author_id', 'author_name']
--------------------------------------------------
book_language : ['language_id', 'language_code', 'language_name']
--------------------------------------------------
publisher : ['publisher_id', 'publisher_name']
--------------------------------------------------

In [240]:
# basic check:

basic_check(book,"book")
basic_check(book_author_id,"book_author_id")
basic_check(book_author_name,"book_author_name")
basic_check(publisher,"publisher")

--------------------------------------------------
Shape for book : (11127, 10)
--------------------------------------------------
Column name for book : Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year'],
      dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for book_author_id : (17642, 2)
--------------------------------------------------
Column name for book_author_id : Index(['book_id', 'author_id'], dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for book_author_name : (9235, 2)
--------------------------------------------------
Column name for book_author_name : Index(['author_id', 'author_name'], dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for publisher : (2264, 2)
--------------------------------------------------
Column name for publisher : Index(['publisher_id', 'publisher_name'], dtype='object')
--------------------------------------------------

In [247]:
# checking if column has 0 in the id

print(book[book['book_id'] == 0].count())
print(book_author_id[book_author_id['book_id'] == 0].count())

book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
dtype: int64
book_id      0
author_id    0
dtype: int64

In [248]:
# Merging book and book author table together:

book_data = pd.merge(book,book_author_id,how='left',on='book_id')
book_data.dtypes

book_id                      int64
title                       object
isbn13                       int64
language_id                  int64
num_pages                    int64
publication_date    datetime64[ns]
publisher_id                 int64
publish_day                  int32
publish_month                int32
publish_year                 int32
author_id                  float64
dtype: object

In [251]:
# checking shape after merging:

basic_check(book_data,"Book_data")

--------------------------------------------------
Shape for Book_data : (18711, 11)
--------------------------------------------------
Column name for Book_data : Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year', 'author_id'],
      dtype='object')
--------------------------------------------------

In [252]:
book_data.isnull().sum()

book_id                0
title                  0
isbn13                 0
language_id            0
num_pages              0
publication_date       0
publisher_id           0
publish_day            0
publish_month          0
publish_year           0
author_id           1069
dtype: int64

In [254]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18711 entries, 0 to 18710
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           18711 non-null  int64
 1   title             18711 non-null  object
 2   isbn13            18711 non-null  int64
 3   language_id       18711 non-null  int64
 4   num_pages         18711 non-null  int64
 5   publication_date  18711 non-null  datetime64[ns]
 6   publisher_id      18711 non-null  int64
 7   publish_day       18711 non-null  int32
 8   publish_month     18711 non-null  int32
 9   publish_year      18711 non-null  int32
 10  author_id         17642 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(3), int64(5), object(1)
memory usage: 1.4+ MB

In [255]:
# Filling the missing values of order id with 0

book_data['author_id'] = book_data['author_id'].fillna(0).astype(int)

In [256]:
book_data.isnull().sum()

book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
author_id           0
dtype: int64

In [257]:
book_data.dtypes

book_id                      int64
title                       object
isbn13                       int64
language_id                  int64
num_pages                    int64
publication_date    datetime64[ns]
publisher_id                 int64
publish_day                  int32
publish_month                int32
publish_year                 int32
author_id                    int64
dtype: object

In [258]:
# Basic check before merging book_data and book_author_name table :

basic_check(book_data,"book_data")

basic_check(book_author_name,"book_author_name")

--------------------------------------------------
Shape for book_data : (18711, 11)
--------------------------------------------------
Column name for book_data : Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year', 'author_id'],
      dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for book_author_name : (9235, 2)
--------------------------------------------------
Column name for book_author_name : Index(['author_id', 'author_name'], dtype='object')
--------------------------------------------------

In [259]:
book_author_name.isnull().sum()

author_id      0
author_name    0
dtype: int64

In [261]:
# Merging book_data and book_author_name table:

book_data = pd.merge(book_data,book_author_name,how='left',on='author_id')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18711 entries, 0 to 18710
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           18711 non-null  int64
 1   title             18711 non-null  object
 2   isbn13            18711 non-null  int64
 3   language_id       18711 non-null  int64
 4   num_pages         18711 non-null  int64
 5   publication_date  18711 non-null  datetime64[ns]
 6   publisher_id      18711 non-null  int64
 7   publish_day       18711 non-null  int32
 8   publish_month     18711 non-null  int32
 9   publish_year      18711 non-null  int32
 10  author_id         18711 non-null  int64
 11  author_name       17642 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(6), object(2)
memory usage: 1.5+ MB

In [262]:
print(book_data.shape)
print(book_data.info())

(18711, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18711 entries, 0 to 18710
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           18711 non-null  int64
 1   title             18711 non-null  object
 2   isbn13            18711 non-null  int64
 3   language_id       18711 non-null  int64
 4   num_pages         18711 non-null  int64
 5   publication_date  18711 non-null  datetime64[ns]
 6   publisher_id      18711 non-null  int64
 7   publish_day       18711 non-null  int32
 8   publish_month     18711 non-null  int32
 9   publish_year      18711 non-null  int32
 10  author_id         18711 non-null  int64
 11  author_name       17642 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(6), object(2)
memory usage: 1.5+ MB
None

In [263]:
book_data.isnull().sum()

book_id                0
title                  0
isbn13                 0
language_id            0
num_pages              0
publication_date       0
publisher_id           0
publish_day            0
publish_month          0
publish_year           0
author_id              0
author_name         1069
dtype: int64

In [268]:
# Filling missing values in author name:

book_data['author_name'] = book_data['author_name'].fillna("No author")

In [269]:
book_data.isnull().sum()

book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
author_id           0
author_name         0
dtype: int64

In [271]:
basic_check(book_data,"book_data")
basic_check(book_language,"book_language")

--------------------------------------------------
Shape for book_data : (18711, 12)
--------------------------------------------------
Column name for book_data : Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year', 'author_id', 'author_name'],
      dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for book_language : (27, 3)
--------------------------------------------------
Column name for book_language : Index(['language_id', 'language_code', 'language_name'], dtype='object')
--------------------------------------------------

In [274]:
book_language.isnull().sum()

language_id      0
language_code    0
language_name    0
dtype: int64

In [275]:
# Merging book_data and language table :

book_data = pd.merge(book_data,book_language,how='left',on='language_id')

print(book_data.shape)
print(book_data.info())

(18711, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18711 entries, 0 to 18710
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           18711 non-null  int64
 1   title             18711 non-null  object
 2   isbn13            18711 non-null  int64
 3   language_id       18711 non-null  int64
 4   num_pages         18711 non-null  int64
 5   publication_date  18711 non-null  datetime64[ns]
 6   publisher_id      18711 non-null  int64
 7   publish_day       18711 non-null  int32
 8   publish_month     18711 non-null  int32
 9   publish_year      18711 non-null  int32
 10  author_id         18711 non-null  int64
 11  author_name       18711 non-null  object
 12  language_code     18711 non-null  object
 13  language_name     18711 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(6), object(4)
memory usage: 1.8+ MB
None

In [277]:
book_data.isnull().sum()

book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
author_id           0
author_name         0
language_code       0
language_name       0
dtype: int64

In [278]:
basic_check(book_data,"book_data")
basic_check(publisher,"publisher")

--------------------------------------------------
Shape for book_data : (18711, 14)
--------------------------------------------------
Column name for book_data : Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year', 'author_id', 'author_name', 'language_code',
       'language_name'],
      dtype='object')
--------------------------------------------------
--------------------------------------------------
Shape for publisher : (2264, 2)
--------------------------------------------------
Column name for publisher : Index(['publisher_id', 'publisher_name'], dtype='object')
--------------------------------------------------

In [279]:
book_data = pd.merge(book_data,publisher,how='left',on='publisher_id')
print(book_data.shape)
print(book_data.info())

(18711, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18711 entries, 0 to 18710
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           18711 non-null  int64
 1   title             18711 non-null  object
 2   isbn13            18711 non-null  int64
 3   language_id       18711 non-null  int64
 4   num_pages         18711 non-null  int64
 5   publication_date  18711 non-null  datetime64[ns]
 6   publisher_id      18711 non-null  int64
 7   publish_day       18711 non-null  int32
 8   publish_month     18711 non-null  int32
 9   publish_year      18711 non-null  int32
 10  author_id         18711 non-null  int64
 11  author_name       18711 non-null  object
 12  language_code     18711 non-null  object
 13  language_name     18711 non-null  object
 14  publisher_name    18711 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(6), object(5)
memory usage: 1.9+ MB
None

In [280]:
print(book_data.isnull().sum())

book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
author_id           0
author_name         0
language_code       0
language_name       0
publisher_name      0
dtype: int64

In [282]:
print(customer_data.columns)
print(order_data_5.columns)
print(book_data.columns)

Index(['customer_id', 'first_name', 'last_name', 'email', 'address_id',
       'address_status_id', 'street_number', 'street_name', 'city',
       'country_id', 'address_status'],
      dtype='object')
Index(['order_id', 'order_date', 'customer_id', 'shipping_method_id',
       'dest_address_id', 'order_day', 'order_month', 'order_year',
       'order_month_name', 'method_name', 'cost', 'history_id', 'status_id',
       'status_date', 'hist_status_day', 'hist_status_month',
       'hist_status_year', 'order_status_id', 'status_value', 'line_id',
       'book_id', 'price'],
      dtype='object')
Index(['book_id', 'title', 'isbn13', 'language_id', 'num_pages',
       'publication_date', 'publisher_id', 'publish_day', 'publish_month',
       'publish_year', 'author_id', 'author_name', 'language_code',
       'language_name', 'publisher_name'],
      dtype='object')

In [283]:
print(customer_data.isnull().sum())
print(order_data_5.isnull().sum())
print(book_data.isnull().sum())

customer_id          0
first_name           0
last_name            0
email                0
address_id           0
address_status_id    0
street_number        0
street_name          0
city                 0
country_id           0
address_status       0
dtype: int64
order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
order_day             0
order_month           0
order_year            0
order_month_name      0
method_name           0
cost                  0
history_id            0
status_id             0
status_date           0
hist_status_day       0
hist_status_month     0
hist_status_year      0
order_status_id       0
status_value          0
line_id               0
book_id               0
price                 0
dtype: int64
book_id             0
title               0
isbn13              0
language_id         0
num_pages           0
publication_date    0
publisher_id        0
publish_day         0
publish_month       0
publish_year        0
author_id           0
author_name         0
language_code       0
language_name       0
publisher_name      0
dtype: int64

In [286]:
print(order_data_5.shape)
print(customer_data.shape)
print(book_data.shape)

(45615, 22)
(3350, 11)
(18711, 15)

In [287]:
# creating a master file by merging customer,order and book table:

master_data = pd.merge(order_data_5, customer_data, on='customer_id', how='left')

print(master_data.shape)
print(master_data.info())

(94748, 32)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94748 entries, 0 to 94747
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            94748 non-null  int64
 1   order_date          94748 non-null  datetime64[ns]
 2   customer_id         94748 non-null  int64
 3   shipping_method_id  94748 non-null  int64
 4   dest_address_id     94748 non-null  int64
 5   order_day           94748 non-null  int32
 6   order_month         94748 non-null  int32
 7   order_year          94748 non-null  int32
 8   order_month_name    94748 non-null  object
 9   method_name         94748 non-null  object
 10  cost                94748 non-null  float64
 11  history_id          94748 non-null  int64
 12  status_id           94748 non-null  int64
 13  status_date         94748 non-null  datetime64[ns]
 14  hist_status_day     94748 non-null  int64
 15  hist_status_month   94748 non-null  int64
 16  hist_status_year    94748 non-null  int64
 17  order_status_id     94748 non-null  int64
 18  status_value        94748 non-null  object
 19  line_id             94748 non-null  int64
 20  book_id             94748 non-null  int64
 21  price               94748 non-null  float64
 22  first_name          94748 non-null  object
 23  last_name           94748 non-null  object
 24  email               94748 non-null  object
 25  address_id          94748 non-null  int64
 26  address_status_id   94748 non-null  int64
 27  street_number       94748 non-null  int64
 28  street_name         94748 non-null  object
 29  city                94748 non-null  object
 30  country_id          94748 non-null  int64
 31  address_status      94748 non-null  object
dtypes: datetime64[ns](2), float64(2), int32(3), int64(16), object(9)
memory usage: 22.0+ MB
None

In [289]:
master_data = pd.merge(master_data, book_data, on='book_id', how='left')

print(master_data.shape)
print(master_data.info())

(159984, 46)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159984 entries, 0 to 159983
Data columns (total 46 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            159984 non-null  int64
 1   order_date          159984 non-null  datetime64[ns]
 2   customer_id         159984 non-null  int64
 3   shipping_method_id  159984 non-null  int64
 4   dest_address_id     159984 non-null  int64
 5   order_day           159984 non-null  int32
 6   order_month         159984 non-null  int32
 7   order_year          159984 non-null  int32
 8   order_month_name    159984 non-null  object
 9   method_name         159984 non-null  object
 10  cost                159984 non-null  float64
 11  history_id          159984 non-null  int64
 12  status_id           159984 non-null  int64
 13  status_date         159984 non-null  datetime64[ns]
 14  hist_status_day     159984 non-null  int64
 15  hist_status_month   159984 non-null  int64
 16  hist_status_year    159984 non-null  int64
 17  order_status_id     159984 non-null  int64
 18  status_value        159984 non-null  object
 19  line_id             159984 non-null  int64
 20  book_id             159984 non-null  int64
 21  price               159984 non-null  float64
 22  first_name          159984 non-null  object
 23  last_name           159984 non-null  object
 24  email               159984 non-null  object
 25  address_id          159984 non-null  int64
 26  address_status_id   159984 non-null  int64
 27  street_number       159984 non-null  int64
 28  street_name         159984 non-null  object
 29  city                159984 non-null  object
 30  country_id          159984 non-null  int64
 31  address_status      159984 non-null  object
 32  title               159984 non-null  object
 33  isbn13              159984 non-null  int64
 34  language_id         159984 non-null  int64
 35  num_pages           159984 non-null  int64
 36  publication_date    159984 non-null  datetime64[ns]
 37  publisher_id        159984 non-null  int64
 38  publish_day         159984 non-null  int32
 39  publish_month       159984 non-null  int32
 40  publish_year        159984 non-null  int32
 41  author_id           159984 non-null  int64
 42  author_name         159984 non-null  object
 43  language_code       159984 non-null  object
 44  language_name       159984 non-null  object
 45  publisher_name      159984 non-null  object
dtypes: datetime64[ns](3), float64(2), int32(6), int64(21), object(14)
memory usage: 52.5+ MB
None

In [290]:
master_data.isnull().sum()

order_id              0
order_date            0
customer_id           0
shipping_method_id    0
dest_address_id       0
order_day             0
order_month           0
order_year            0
order_month_name      0
method_name           0
cost                  0
history_id            0
status_id             0
status_date           0
hist_status_day       0
hist_status_month     0
hist_status_year      0
order_status_id       0
status_value          0
line_id               0
book_id               0
price                 0
first_name            0
last_name             0
email                 0
address_id            0
address_status_id     0
street_number         0
street_name           0
city                  0
country_id            0
address_status        0
title                 0
isbn13                0
language_id           0
num_pages             0
publication_date      0
publisher_id          0
publish_day           0
publish_month         0
publish_year          0
author_id             0
author_name           0
language_code         0
language_name         0
publisher_name        0
dtype: int64

In [294]:
pd.set_option('display.max_columns',None)

In [295]:
master_data.sample(5)

,order_id,order_date,customer_id,shipping_method_id,dest_address_id,order_day,order_month,order_year,order_month_name,method_name,cost,history_id,status_id,status_date,hist_status_day,hist_status_month,hist_status_year,order_status_id,status_value,line_id,book_id,price,first_name,last_name,email,address_id,address_status_id,street_number,street_name,city,country_id,address_status,title,isbn13,language_id,num_pages,publication_date,publisher_id,publish_day,publish_month,publish_year,author_id,author_name,language_code,language_name,publisher_name
58225,4332,2023-05-26 21:19:19,1413,4,76,26,5,2023,may,international,24.5,9975,2,2023-05-28 21:10:06,28,5,2023,2,pending delivery,5342,8876,19.82,gherardo,sirey,gsireybg@digg.com,454,2,725,debs court,radostowice,163,inactive,batman: arkham asylum - a serious house on ser...,9781401204259,1,216,2005-01-11,506,11,1,2005,3083,grant morrison,eng,english,dc comics
110803,8234,2024-05-26 04:06:32,1136,4,13,26,5,2024,may,international,24.5,19737,3,2024-05-27 01:14:16,27,5,2024,3,delivery in progress,10579,10775,17.79,clarine,pryer,cpryer3r@google.nl,13,1,238,corscot alley,trstenik,186,active,the stand: das letzte gefecht,9783404134113,10,1227,2003-09-01,217,1,9,2003,8222,stephen king,ger,german,bastei lübbe
1552,60,2022-06-24 09:32:00,1373,2,18,24,6,2022,june,priority,8.9,13645,2,2022-06-25 02:13:20,25,6,2022,2,pending delivery,9621,9593,14.80,ulrick,de andreis,udeandreisac@plala.or.jp,18,1,119,morning park,esparza,50,active,the letters of vita sackville-west and virgini...,9781573441964,1,480,2004-09-30,415,30,9,2004,5391,louise desalvo,eng,english,cleis press
150903,10764,2024-10-17 05:06:19,1773,1,6,17,10,2024,october,standard,5.9,19979,3,2024-10-19 17:04:06,19,10,2024,3,delivery in progress,14360,9731,7.28,korey,bartomieu,kbartomieulg@shareasale.com,44,1,987,heath place,tshikapa,45,active,understanding media: the extensions of man,9781584230731,2,616,2003-11-01,772,1,11,2003,8908,w. terrence gordon,en-us,united states english,gingko press
83820,5587,2022-03-10 03:11:19,1025,1,444,10,3,2022,march,standard,5.9,10775,2,2022-03-11 12:43:22,11,3,2022,2,pending delivery,11497,1353,5.89,eleanora,scriviner,escrivinero@gizmodo.com,843,1,548,porter drive,fangtian,42,active,invitation to a beheading,9780141185606,1,192,2015-08-03,1487,3,8,2015,8895,vladimir nabokov,eng,english,penguin books ltd

In [299]:
#Converting object column to cat column

master_data['method_name'] = master_data['method_name'].astype('category')
master_data['status_value'] = master_data['status_value'].astype('category')
master_data['address_status'] = master_data['address_status'].astype('category')
master_data['language_name'] = master_data['language_name'].astype('category')
master_data['publisher_name'] = master_data['publisher_name'].astype('category')
master_data['language_code'] = master_data['language_code'].astype('category')

**Feature engineering**

In [339]:
# Adding column has order or not

master_data_1 = master_data.copy()

In [319]:
master_data_1.columns

Index(['order_id', 'order_date', 'customer_id', 'shipping_method_id',
       'dest_address_id', 'order_day', 'order_month', 'order_year',
       'order_month_name', 'method_name', 'cost', 'history_id', 'status_id',
       'status_date', 'hist_status_day', 'hist_status_month',
       'hist_status_year', 'order_status_id', 'status_value', 'line_id',
       'book_id', 'price', 'first_name', 'last_name', 'email', 'address_id',
       'address_status_id', 'street_number', 'street_name', 'city',
       'country_id', 'address_status', 'title', 'isbn13', 'language_id',
       'num_pages', 'publication_date', 'publisher_id', 'publish_day',
       'publish_month', 'publish_year', 'author_id', 'author_name',
       'language_code', 'language_name', 'publisher_name'],
      dtype='object')

In [340]:
master_data_1['order_date'] = master_data_1['order_date'].dt.date
master_data_1['order_date']

0         2023-08-22
1         2023-08-22
2         2023-08-22
3         2023-08-22
4         2023-08-22
             ...
159979    2023-08-22
159980    2023-08-22
159981    2023-08-22
159982    2023-02-17
159983    2023-02-17
Name: order_date, Length: 159984, dtype: object

In [325]:
from datetime import datetime

datetime.now().date()

datetime.date(2024, 12, 22)

In [341]:
# Adding column to find the last order date.


master_data_1['last_order_date'] = master_data_1.groupby('customer_id')['order_date'].transform('max')

In [342]:
#COnverting to date time type

master_data_1['last_order_date'] = pd.to_datetime(master_data_1['last_order_date'])
master_data_1['last_order_date'].dtype

dtype('<M8[ns]')

In [347]:
# Adding column to find number of days from last order:

from datetime import datetime

today_date =pd.to_datetime(datetime.now().date())

master_data_1['recency'] = (today_date - master_data_1['last_order_date']).dt.days

master_data_1['recency'].dtype

dtype('int64')

In [350]:
# adding column to find how much each customer has spent totally:

master_data_1['spending_of_customer'] = master_data_1.groupby('order_id')['price'].transform('sum')

In [389]:
today_date =datetime.now().date()
today_date

datetime.date(2024, 12, 22)

In [391]:
churn_threshold = (today_date - pd.DateOffset(months=3)).date()
churn_threshold

datetime.date(2024, 9, 22)

In [400]:
churn_threshold

Timestamp('2024-09-22 00:00:00')

In [408]:
# Adding churn column based on created column

today_date =pd.to_datetime(datetime.now().date())

churn_threshold = (today_date - pd.DateOffset(months=3))

def calculate_churn(x):
    if x < churn_threshold:
        return 1
    else:
        return 0

master_data_1['Churn'] = master_data_1['last_order_date'].apply(calculate_churn)

In [409]:
master_data_1['Churn'].value_counts()

Churn
1    92992
0    66992
Name: count, dtype: int64

Churn data seems to be imbalanced data. Need to resample

In [416]:
import os

path =  os.path.join(os.getcwd(),"data",'Merged_data')
file  = "master_data.csv"

os.makedirs(path,exist_ok=True)

folder = os.path.join(path,file)


master_data_1.to_csv(folder,index=False)

In [ ]:
#Next tep is to divide the date