## Churn Prediction

required table :
1. customer
2. cust_order
3. order_status
4. order_history
5. address
6. address_status
7. order_line
8. shipping_method

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path = r"D:\DS_Final_Project\Notebook\data\RAW_CSV"

customer = pd.read_csv(f"{path}\\customer.csv")
cust_order = pd.read_csv(f"{path}\\cust_order.csv")
customer_address = pd.read_csv(f"{path}\\customer_address.csv")
address = pd.read_csv(f"{path}\\address.csv")
address_status = pd.read_csv(f"{path}\\address_status.csv")
order_history = pd.read_csv(f"{path}\\order_history.csv")
order_line = pd.read_csv(f"{path}\\order_line.csv")
order_status = pd.read_csv(f"{path}\\order_status.csv")
shipping_method = pd.read_csv(f"{path}\\shipping_method.csv")

In [18]:
tables = [
    ("customer", customer),
    ("cust_order", cust_order),
    ("customer_address", customer_address),
    ("address", address),
    ("address_status", address_status),
    ("order_history", order_history),
    ("order_line", order_line),
    ("order_status", order_status),
    ("shipping_method", shipping_method)]

for name,df in tables:
    print(f"{name} : {list(df.columns)}")
    print("-"*50)

customer : ['customer_id', 'first_name', 'last_name', 'email']
--------------------------------------------------
cust_order : ['order_id', 'order_date', 'customer_id', 'shipping_method_id', 'dest_address_id']
--------------------------------------------------
customer_address : ['customer_id', 'address_id', 'status_id']
--------------------------------------------------
address : ['address_id', 'street_number', 'street_name', 'city', 'country_id']
--------------------------------------------------
address_status : ['status_id', 'address_status']
--------------------------------------------------
order_history : ['history_id', 'order_id', 'status_id', 'status_date']
--------------------------------------------------
order_line : ['line_id', 'order_id', 'book_id', 'price']
--------------------------------------------------
order_status : ['status_id', 'status_value']
--------------------------------------------------
shipping_method : ['method_id', 'method_name', 'cost']
--------------------------------------------------

In [ ]:
#customer & cust_order & customer_address == customer id
#cust_order & order_history & order line == order_id
#cust_order & customer_address & address == address_id
#customer_address & address_status == status_id
#order_history & order_status == status id  (Both are different)

In [22]:
customer.sample(10)

      customer_id first_name   last_name                      email
1394         1395     Belvia     Ellwell         bellwellay@ftc.gov
232           233      Blake      Carson    bcarson6g@microsoft.com
1565         1566       Raff     Bowkett        rbowkettfp@yelp.com
131           132      Artie      Coltan     acoltan3n@usatoday.com
1221         1222  Charlotta        Pina    cpina65@yellowpages.com
962           963     Pearla        Caze       pcazeqq@stanford.edu
197           198    Lynette  Davidofski  ldavidofski5h@nbcnews.com
798           799      Meara    Lindroos   mlindroosm6@mashable.com
458           459     Lebbie     Eskrigg  leskriggcq@cloudflare.com
1383         1384  Louisette     Fraczak     lfraczakan@myspace.com

In [23]:
customer.isnull().sum()

customer_id    0
first_name     0
last_name      0
email          0
dtype: int64

In [25]:
customer.duplicated().sum()

np.int64(0)

In [30]:
customer[customer.duplicated(subset='customer_id')].shape

(0, 4)